img {
    height: 300pt;
}

.book {
    display: flex;
    padding: 15pt;
}

.book-info {
    /* float: right; */
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
    margin: 30px;
}

.buttons {
    display: flex;
    /* display: grid; */
    gap: 20pt;
}

button {
    padding: 0 5pt;
    background-color: burlywood;
    border-radius: 1px;
    /* gap: 20pt; */
}

button:hover {
    background-color: black;
    color: burlywood;
}

span {
    border: 1px solid burlywood;
    padding: 0 5pt;
}

span.wish-list {
    margin-left: 30pt;
}

span:hover {
    cursor: pointer;
    color: burlywood;
}