img {
    height: 300pt;
}

.book {
    display: flex;
    padding: 15pt;
}

.book-info {
    float: right;
    width: 60%;
    padding: 15px;
    box-sizing: border-box;
    margin: 30px;
}

.buttons {
    display: flex;
    gap: 20pt;
}

button {
    padding: 0 5pt;
    background-color: burlywood;
    border-radius: 1px;
    /* gap: 20pt; */
}

button:hover {
    background-color: black;
    color: burlywood;
}