.register-container {
    width: 250pt;
    height: 335pt;
    justify-self: center;
    margin-top: 40pt;
    vertical-align: middle;
    padding: 20pt 55pt;
    background-color: burlywood;
    box-shadow: 0 5px 20px 0;
}

input {
    display: block;
}

label {
    margin: 5px 0px;
}

button {
    display: block;
    /* margin: 10pt; */
    padding: 5pt 10pt;
    /* cursor: pointer; */
    margin: auto;
    margin-top: 10pt;
    border-width: 1px;
}

button:hover {
    background-color: black;
    color: white;
}

p {
    /* padding: 10pt; */
    padding-top: 10pt;
    text-align: center;
}

p.error {
    /* margin: 0; */
    /* padding: 5pt 0pt 0pt 0pt; */
    padding: 0;
    color: red;
    font-size: 12pt;
    line-height: 14pt;
    max-width: 200pt;
}

div.error div.spacer {
    height: 26pt;
    padding: 0;
}

.spacer {
    height: 26pt;
    padding: 10pt;
}