
a { 
    text-decoration: none;
    color: initial;
}

h2 {
    margin-bottom: 20pt;
    float: left;
    /* display: flex; */
    /* justify-content: flex-start; */
}

.add-btn {
    margin-top: 20pt;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.add-btn > input {
    background-color: burlywood;
    border-width: 1px;
    padding: 5pt;
    float: right;
}

.add-btn > input:hover {
    background-color: black;
    color: burlywood;
}

.all-books {
    display: flex; 
}

.book {
    padding-right: 20pt;
    text-align: center;
}

img {
    height: 300px;
}

a:hover {
    color: burlywood;
}