.login-container {
  width: 250pt;
  height: 260pt;
  justify-self: center;
  margin-top: 50pt;
  vertical-align: middle;
  background-color: burlywood;
  /* justify-items: center; */
  padding: 30pt 50pt;
  /* padding-top: 25pt; */
}

input {
  display: block;
}

label {
  margin: 5px 0px;
}

button {
  display: block;
  /* margin: 10pt; */
  padding: 5pt 10pt;
  /* cursor: pointer; */
  margin: auto;
  margin-top: 10pt;
  border-width: 1px;
}

button:hover {
  background-color: black;
  color: white;
}

p {
  padding: 10pt;
  text-align: center;
}

p.error {
  /* margin: 0; */
  /* padding: 5pt 0pt 0pt 0pt; */
  padding: 0;
  color: red;
  font-size: 12pt;
  line-height: 14pt;
  max-width: 200pt;
}

.spacer {
  padding: 10pt;
}

div {
  height: 26pt;
}