.add-book-container {
    background-color: burlywood;
    width: 400pt;
    /* height: fit-content; */
    /* height: 100%; */
    margin: auto;
    margin-top: 50pt;
    padding: 30pt 50pt;
}

.container {
    background-color: burlywood;
    width: 60%;
    align-items: center;
    /* margin-top: 30pt; */
    justify-self: center;
    /* vertical-align: middle; */
}

h3 {
    text-align: center;
}

input, textarea {
    display: block;
    width: 300pt;
    margin-bottom: 15px;
}

.buttons {
    text-align: center;
}

button {
    padding: 5pt 10pt;
    margin: 0pt 20pt;
    border-width: 1px;
}

button:hover {
    background-color: black;
    color: white;
}

/* .spacer {
    height: 50pt;
} */
/* .spacer {
    margin-top: 500px;
} */