footer {
    min-height: 0pt;
    background-color: black;
    color: burlywood;
    width: 100%;
    position: absolute;
    /* position: sticky; */
    bottom: 0;
}

p {
    /* float: right; */
    padding: 5pt;
}