
.lists {
    display: flex;
    height: 60%;
    margin: 10pt;
}

div:not(.lists) {
    width: 60%;
    border: solid 2px;
}

div.form {
    justify-self: center;
    width: fit-content;
    margin: 10pt;
    padding: 20pt;
}

input {
    display: block;
    margin: 5pt 0;
}

.wish-list {
    margin: 0pt 70pt;
}

h3 {
    text-align: center;
}

button {
    display: block;
    /* text-align: center; */
    margin: auto;
    padding: 0 5pt;
    background-color: burlywood;
    margin-top: 10pt;
}

button:hover {
    background-color: black;
    color: burlywood;
}

span {
    padding: 10pt;
}
