
header {
    min-height: 50pt;
    background-color: burlywood;
    display: flex;
}

nav {
/* #nav-items { */
    /* background-color: burlywood; */
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.logo {
    font-size: 20pt;
    font-weight: bold;
    margin: 15pt;
}

#logo-container {
    display: flex;
    /* margin-left: 15pt; */
}

img {
    height: 40pt;
    margin: 10pt 0;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
}

li {
    margin: 0 15pt 5pt 15pt;
}

a {
    text-decoration: none;
    /* color: black; */
    color: burlywood;
}

.logo > a {
    color: black;
}

li a:hover {
    color: white;
}

/* @media(max-width: 600px) {
    #logo-container {
        width: 100%;
        float: none;
    }

    #nav-items {
        width: 100%;
        float: none;
    }
} */